.scheduling-container .card-scheduling-1 .card-scheduling-2 {
    display: flex;
    justify-content: space-between;
    align-items: center !important;
}

.card-scheduling-1 {
    width: 900px;
    height: 800px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(39, 121, 157, 0.20);
    /* margin-top: 50%; */
    margin-left: 50px;

}

.card-scheduling-2 {
    width: 400px;
    height: 500px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(39, 121, 157, 0.20);
    margin-top: 50%;
    margin-left: 250px;
}

.header-scheduling {
    padding: 30px 0 0 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: #829CBC solid 3px;
    margin: 20px 20px 10px 20px;

}

.bx-error {
    font-size: 32px;
    color: #829CBC;
    line-height: 300px;
}

.subject {
    color: #002855;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.reminders-scheduling {
    margin-left: 30px;
    margin-right: 30px;
}

.reminders-scheduling p {
    color: #C76363;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 10px;
}

.header-scheduling h4 {
    color: #829CBC;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 10px;
}

.legend-scheduling {
    margin-left: 30px;
    margin-right: 30px;
}

.legend {
    color: #002855;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 20px;
}

.green-scheduling {
    color: #60A554;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 30px;
}

.orange-scheduling {
    color: #EC8D36;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 12px;
}

.red-scheduling {
    color: #C76363;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 56px;
}

.text-legend {
    color: #4F6D7A;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.month-header {
    border-bottom: 2px solid #000;
    padding-bottom: 5px;
    text-align: center; 
}

