* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
  }
  
  .container-burial {
    border: 3px solid white;
    border-radius: 10px;
    padding: auto;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
    width: 90%;
    max-width: 550px;
    box-shadow: 2px 3px 15px 0px rgba(0, 0, 0, 0.75);
  }
  
  .formbold-mb-5 {
    margin-bottom: 20px;
  }
  
  .formbold-pt-3 {
    padding-top: 12px;
  }
  
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }
  
  .formbold-form-wrapper {
    margin: 0 auto;
    width: 100%;
    background: white;
  }
  
  .formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
  }
  
  .formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
  }
  
  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  
  .formbold-btn,
  .cancel {
    text-align: center;
    font-size: 20px;
    border-radius: 6px;
    padding: 4px 10px;
    border: none;
    font-weight: 600;
    width: 40%;
    cursor: pointer;
    margin-left: 30%;
  }
  
  .formbold-btn {
    background-color: #6a64f1;
    color: white;
  }
  
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgb(32, 53, 245);
  }
  
  .cancel {
    background-color: #ff1109c3;
    color: white;
    box-shadow: 0px 3px 8px rgb(253, 1, 1);
  }
  
  .formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
  }
  
  .formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
  }
  
  .flex {
    display: flex;
  }
  
  .flex-wrap {
    flex-wrap: wrap;
  }
  
  .w-full {
    width: 100%;
  }
  
  @media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #ffffff;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #6b7280;
    cursor: pointer;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  .select {
    position: relative;
    display: flex;
    width: 13.5em;
    height: 3em;
    line-height: 3;
    background: #252525;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
  }
  
  .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #c5e0e0;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
  }
  
  .select:hover::after {
    color: #1176fa;
  }
  
  .niche {
    text-align: center;
    padding-top: 2%;
    font-family: Serif;
  }
  
  @media (max-width: 767px) {
    .container-burial {
      width: 90%;
    }
  
  }
  
  @media (min-width: 768px) {
    .container-burial {
      width: 70%;
    }
  
  }
  
  @media (min-width: 992px) {
    .container-burial {
      width: 50%;
    }
  
  }
  
  @media (max-width: 480px) {
    .container-burial {
      width: 100%;
    }
  
    .select {
      width: 100%;
    }
  }