@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:wght@400;500;700&display=swap');

.row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 35% !important;
}

.col {
    flex-basis: 33.33%;
    padding: 8px;
}

.card {
    width: 25vw;
    height: 10vh;
    margin-left: -35%;
    box-shadow: 7px 7px 10px 1px rgba(41, 127, 255, 0.19);
    -webkit-box-shadow: 7px 7px 10px 1px rgba(41, 127, 255, 0.19);
    -moz-box-shadow: 7px 7px 10px 1px rgba(41, 127, 255, 0.19);
    border-radius: 20px !important;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.1);
}

.card-body {
    margin: 10px;
    font-size: 20px;
    font-weight: 800;
    color: blue;
}

.card-body p {
    font-size: 20px !important;
    font-weight: 500 !important;
}